.SharedRadioGroups,
.SharedRadioGroups-valueList {
  margin: 0 0 1em;
  font-family: sans-serif;
}

.SharedRadioGroups-name {
  display: inline-block;
  padding: 0.5em;
  text-align: right;
  min-width: 4em;
  font-weight: 600;
}

.SharedRadioGroups-valueList {
  display: inline-block;
}

.SharedRadioGroups-value {
  display: inline-block;
  margin-right: 1em;
  border: 1px solid #000;
}

/* checkbox label */
.SharedRadioGroups-label {
  display: block;
  padding: 0.5em;
  cursor: pointer;
}

/* label of selected checkbox */
.SharedRadioGroups-value.is-selected .SharedRadioGroups-label {
  background: #333;
  color: #fff;
}

/* label of disabled checkbox */
.SharedRadioGroups-value.is-disabled .SharedRadioGroups-label {
  font-style: italic;
  color: #ccc;
  cursor: not-allowed;
}

/* checkbox */
.SharedRadioGroups-input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
