.UniqueMultiSelect,
.UniqueMultiSelect-valueList {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
}

.UniqueMultiSelect-item,
.UniqueMultiSelect-value {
  margin: 0;
  padding: 0;
}

.UniqueMultiSelect-name {
  display: inline-block;
  padding: 0.5em;
  text-align: right;
  min-width: 4em;
  font-weight: 600;
}

.UniqueMultiSelect-valueList {
  display: inline-block;
}

.UniqueMultiSelect-value {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em;
  margin-right: 1em;
  border: 1px solid #000;
}

.UniqueMultiSelect-value.is-selected {
  background: #333;
  color: #fff;
}

.UniqueMultiSelect-value.is-disabled {
  cursor: default;
  font-style: italic;
  color: #ccc;
}
